IDI_ICON1   ICON    DISCARDABLE "share/decipher_text/icons/app_icon.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,9,0,0
PRODUCTVERSION  0,9,0,0
BEGIN
  BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904E4"
        BEGIN
          VALUE "CompanyName",        "Agnis Technology"
          VALUE "FileDescription",    "Decipher Text: Open source Optical Character Recognition software based upon tesseract_ocr using Qt5."
          VALUE "FileVersion",        "0.9.0.0\0"
          VALUE "InternalName",       "Decipher Text"
          VALUE "LegalCopyright",     "Copyright (c) 2016 Agnis Technology"
          VALUE "LegalTrademarks1",   "All Rights Reserved"
          VALUE "LegalTrademarks2",   "Available under BSD 3-Clause License"
          VALUE "OriginalFilename",   "decipher_text.exe"
          VALUE "ProductName",        "Decipher Text"
          VALUE "ProductVersion",     "0.5-alpha\0"
        END
      END

    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1252
    END
END
